/* From Uiverse.io by adamgiebl */
.uiverse-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #2563EB;
  background: transparent;
  cursor: pointer;
  transition: color 0.5s ease-out, box-shadow 0.5s ease-out, transform 0.15s ease;
  border: 2px solid #2563EB !important;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #2563EB;
}

.uiverse-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #2563EB;
}

.uiverse-btn:not(:hover) {
  transition: color 0.6s ease, box-shadow 0.6s ease, transform 0.15s ease;
}

.uiverse-btn:active {
  transform: scale(0.9);
}
